.card-login {
    width: 60vh;
    min-height: 60vh;
    background-color: #E7E8EA;
}

@media only screen and (max-width: 1024px) {
    .card-login {
        width: 40vh;
        min-height: 60vh;
    }
}